@charset "utf-8";
/*
#461220 - dark sienna
#8c2f39 - solid pink - background 
#b23a48 - deep chestnut
#fcb9b2 - melon
#fed0bb - peach puff
*/
body{
	background-color: #8C2F39;
}
h1,h2,h3,h4,h5,h6,p,pre{
	color: #fed0bb;
	font-family: 'Josefin Sans', sans-serif;
}
.headings{
	margin-left: 160px;
	margin-top: 15px;
}
.homelogo{
	position: fixed;
	margin-left: 75px;
}
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /*Black*/
    overflow-x: hidden; /*Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
	font-family: 'Josefin Sans', sans-serif;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	width: 125px;
}


.sidepanel a:hover {
    color: #fcb9b2;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: -84px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #b23a48;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  margin-left: 10px;
  margin-top: -80px;
  z-index: 2;
  position: fixed;
}

.openbtn:hover {
  background-color: #424242;
}
